
@font-face {
    font-family: "Roboto-bold";
    src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "Roboto-light";
    src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-thinitalic";
    src: url("./fonts/Roboto-ThinItalic.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-light";
}

.section-bg.hero-bg {
    width: 100%;
    background-color: #1F2937
}

.section {
    margin: 0 auto;
    width: 968px;
    height: 480px

}

/* HEADER*/
.hero header {
    display: flex;
    align-items: center;
    height: 50px
}

.hero header p {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    font-family: "Roboto-bold";
}

.hero header a {
    margin-left: 20px
}


/* hero content */


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content.hero {
    margin-top: -24px;
    display: flex;    
    gap: 50px
}

.content.hero .column-1, .content.hero .column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}

.content.hero .column-1 h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-family: "Roboto-bold";
}

.hero .column-1 button {
    margin-top: 20px
}


/* text styling links and secondary text*/

.content.hero .column-1 p, .hero header a {
    text-decoration: none;
    font-style: 18px;
    color: #e5e7eb;
}

/* appeir in a bunch of website parts*/

button {
    background-color: #3882F6;
    padding: 10px 15px;
    font-family: "Roboto-bold";
    color: #F9FAF8;
    border: none;
    border-radius: 10px;
    font-size: 18px
}

button:hover {
    cursor: pointer;
}

/* cards */


.cards-container {
    display: flex;
    gap: 37.5px
}

.card {
    width: 150px;
    height: 200px;
}

.card .image {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 5px #3882F6 solid;
}

.card .image img {
    width: 150px;
}

.card p {
    text-align: center;
    line-break: anywhere;
}

.section-bg.quote-bg {
    background-color: #E5E7EB
}

.section.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section.infos h1 {
    margin-top: -100px;
    font-size: 36px;
    color: #1F2937;
    font-family: "Roboto-bold";
}


.text-container, .section.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 80%;

}

.section.quote h1 {
    font-size: 36px;
    color: "#1F2937";
    font-family: "Roboto-thinitalic";
    font-weight: 100;
}

.section.quote p {
    align-self: flex-end;
    font-size: 24px;
    font-family: "Roboto-bold";
}

/* CALL TO ACTION */

.section.call {
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #3882F6;
    padding: 50px 100px;
    width: 100%;

    border-radius: 10px;
}

.call-card .column-1 h1 {
    color: #F9FAF8;
}

.call-card .column-1 p {
    color: #e5e7eb;
}

.call-card .column-2 button {
    border: 3px #F9FAF8 solid;
    padding: 10px 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 50px 0;
}